# If this is your first time writing a language grammar, check out:
#   - https://flight-manual.atom.io/hacking-atom/sections/creating-a-grammar/

'scopeName': 'source.esrc'
'name': 'Effyiex Source'
'fileTypes': [
  'esrc'
]
'patterns': [
  {
    'match': '^\\s*//.*$'
    'name': 'comment'
  }
  # single-quote strings
  {
    'match': '\'[^\']*\''
    'name' : 'string.quoted.single.batch'
  }
  # double-quote strings
  {
    'match': '\"[^\"]*\"'
    'name' : 'string.quoted.double.batch'
  }
]
