
'scopeName': 'source.esrc'
'name': 'Effyiex Source'
'fileTypes': [
  'esrc'
]
'patterns': [
  {
    'match': '(^\\s*//.*$|^\\s*#.*$)'
    'name': 'comment'
  }
  {
    'match': '\'[^\']*\''
    'name' : 'string'
  }
  {
    'match': '\"[^\"]*\"'
    'name' : 'keyword.string'
  }
  {
    'match': '\\+|-|%|\\*|\\/|==|<=|>=|;|:|=|(?<!\\.)\\.{2}(?!\\.)'
    'name': 'keyword.operator.esrc'
  }
  {
    'match': '\\b(extends|implements|class|interface|enum|var|const|static|and|or|not|break|do|else|for|if|return|while|for|function|import)\\b'
    'name': 'keyword.control.esrc'
  }
  {
    'match': '(?<![\\d.])\\s0x[a-fA-F\\d]+|\\b\\d+(\\.\\d+)?([eE]-?\\d+)?|\\.\\d+([eE]-?\\d+)?'
    'name': 'constant.numeric.esrc'
  }
  {
    'match': '(false|true|super)'
    'name': 'constant.language.lua'
  }
]
